.popup {
  width: 250px;
  position: absolute;
  top: 111px;
  left: 500px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eee;
}

.popup .format-actions {
  margin: 0;
  width: auto;
}

.popup .control-panel {
  align-items: flex-start;
  padding: 0;
}
